@charset "utf-8";

*{
    padding: 0px;
    margin: 0px;
}

/*menu*/
header{
    text-align: center;
    padding: .8em;
}

/*Link */
header a{
    text-decoration: none;
    color: black;
}
a:hover{
    background-color: darkgray;
    color: black;
    transition: 1s;
    padding: .2em;
    border-radius: 10px;
}

/*Div geral*/
main{
    background-color: darkgray;
    max-width: 80%;
    height: 100%;
    border-radius: 10px;
    padding: 1em;
    margin: auto;
}
/*Texo*/
.h1{
    font-size: 1.5em;
    text-align: center;
}

.p{
    text-align: center;
    margin: 1em;
}

/*Input*/
/*Estao conectados com o label entao centraliza com o text align e estao em textos  */
.input{
    border-radius: 10px;
    margin: .7em auto;
    text-align: center;
}


/*Botao*/
.botao{
    padding: .7em;
    border-radius: 10px;  
    cursor: pointer;
    margin: .7em auto;
}
.botao:hover{
    background-color: rgb(59, 59, 59);
    transition: 2s;
    color: aliceblue;
}

